h1{
font-size: 30px;
text-align: center;
color: #614e1a
}

h2{
     front-size : 15px;
     text-align: left;
     color: #614e1a ;
}

body{
font-size: 10px;
font-family: Helvetica, sans-serif;
color: #242424;
}

body{
     background:#1310AC ;
}
#background-image:url(images/ravenna.png);
