h1{
font-size: 30px;
text-align: center;
color: ##614e1a
}
body{
font-size: 16px;
font-family: Helvetica, sans-serif;
color: #242424;
}
body {
     background-color: #86BEDA;
}
     
background-image:url(images/ravenna.png);
